<!DOCTYPE html>
{% load staticfiles %}
<html lang="pt-br">
    <head>
        <title>ConnectedIn</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <style>
            .image-perfil{
                height: 32px;
                width: 32px;
                border-radius: 50%;               
                margin-right: 7px
            }

            .image-upload > input{
                display: none;
            }

            .upload-icon{
                cursor: pointer;
            }
            .alert-error{
                background: #f8d7da;
                color: #812d3b;
            }
        </style>
    </head>
    <body>
        <header class="pl-5 pr-5 border-bottom">
            <nav class="navbar navbar-expand-sm navbar-light">
                <a href="{% url 'index' %}" class="navbar-brand text-muted">ConnectedIn</a>
        
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown">
                            <button href="{% url 'index' %}" class="nav-link btn btn-link text-primary dropdown-toggle" id="dropdownPerfil" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
                                {% if perfil_logado.foto %}
                                    <img class="image-perfil" src="/media/{{perfil_logado.foto}}">
                                {% else %}
                                    <i class="fas fa-user-circle h3 align-top"> </i>
                                {% endif %}
                                {{perfil_logado.nome}}
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownPerfil">
                                <button type="button" class="btn btn-link" data-toggle="modal" data-target="#alterarSenhaModal">
                                    Alterar senha
                                </button>
                                <button type="button" class="btn btn-link" data-toggle="modal" data-target="#alterarFotoModal">
                                    Alterar foto
                                </button>
                                <button type="button" class="btn btn-link" data-toggle="modal" data-target="#desativarPerfilModal">
                                    Desativar perfil
                                </button>
                                <a  class="btn btn-link" href="{% url 'estatisticas' %}">
                                    Estatisticas
                                </a>
                                {% block dropdown_usuario %}
                                {% endblock %}
                            </div>
                        </li>
                        {% if perfil_logado.usuario.is_superuser %}
                            <li class="nav-item">
                                <a href="/pagina_de_superusuario/" class="nav-link text-primary">Página de superusuário</a>
                            </li>
                        {% endif %}
                        <li class="nav-item">
                            <a href="/logout/" class="nav-link text-primary">Logout</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <div class="pl-3 pr-3 mt-2">
                {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{message.tags}} d-block w-100 message">
                        {{ message }}
                        <button type="button" class="close btn-message-close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
                <script>
                    setTimeout(function(){ 
                    let btns = document.querySelectorAll('.btn-message-close')
                    for(let i = 0; i < btns.length; i++)
                        btns[i].click()
                    }, 5000);           
                </script>
            {% endif %}
        </div>

        <div class="container-fluid p-5">
            <div class="row">
                <div class="col-3">
                    {% block left %}
                    {% endblock %}
                </div>
                
                <div class="col-6">
                    {% block center %}
                    {% endblock %}
                </div>

                <div class="col-3">
                    {% block right %}
                    {% endblock %}
                </div>
            </div>
            <div class="row">
                {% block main %}
                {% endblock %}
            </div>
        </div>
        <!-- Modal Alterar Senha -->
    <div class="modal fade" id="alterarSenhaModal" tabindex="-1" role="dialog" aria-labelledby="alterarSenhaModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="alterarSenhaModalLabel">Alterar senha</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{% url 'alterar_senha' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="senha_atual">Senha atual</label>
                        <input type="password" class="form-control" id="senha_atual" placeholder="digite a senha atual" name="senha_atual" required>
                    </div>  
                    
                    <div class="form-group">
                        <label for="senha_nova">Senha nova</label>
                        <input type="password" class="form-control" id="senha_nova" placeholder="digite a nova senha" name="senha_nova" onkeyup="verificar_senhas()" required>
                    </div>
    
                    <div class="form-group">
                        <label for="confirmar_senha">Confirmar senha</label>
                        <input type="password" class="form-control" id="confirmar_senha" placeholder="digite novamente a nova senha" name="confirmar_senha" onkeyup="verificar_senhas()" required>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary" disabled id="salvar_senha">Salvar</button>
                    </div>
                </form>
            </div>
            </div>
        </div>
    </div>
    <!-- alterar Alterar Foto -->
    <div class="modal fade" id="alterarFotoModal" tabindex="-1" role="dialog" aria-labelledby="alterarFotoModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="alterarFotoModalLabel">Desativar perfil</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{% url 'alterar_foto' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class=" text-center">
                        <label for="id_foto_perfil" class="text-primary h1 upload-icon">
                            <i class="fas fa-camera-retro pt-2"></i>
                        </label>
                        <input type="file" name="foto" accept="image/*" id="id_foto_perfil">
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-danger" id="alterar_foto">Alterar Foto</button>
                    </div>
                </form>
            </div>
            </div>
        </div>
    </div>
    <!-- Desativar Perfil Modal -->
    <div class="modal fade" id="desativarPerfilModal" tabindex="-1" role="dialog" aria-labelledby="desativarPerfilModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="desativarPerfilModalLabel">Desativar perfil</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{% url 'desativar_perfil' %}">
                    <p>Lamentamos que você não esteja satisfeito com nossos serviços. Por favor, conte-nos o motivo da sua saída:</p>
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Motivo:</label>
                        <textarea class="form-control" id="textAreaMotivo" name="motivo" rows="3" required></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-danger" id="desativar_perfil">Desativar perfil</button>
                    </div>
                </form>
            </div>
            </div>
        </div>
    </div>
    {% block script %}
    {% endblock %}
    <script>
        function verificar_senhas(){
            let nova = document.getElementById('senha_nova').value
            let confirmar = document.getElementById('confirmar_senha').value
            if(nova === confirmar)
                document.getElementById('salvar_senha').disabled = false;
            else
            document.getElementById('salvar_senha').disabled = true;
        }
    </script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>
