{% extends  "base.html" %}

{% block left %}
<!-- CONTATOS -->
<nav class="card">
    <div class="card-header">
        <div>Contatos</div>
        <div class="row">
            <input type="text" class="form-control col-9" name="nome_pesquisar">
            <button type="submit" class="btn btn-sm btn-outline-dark ml-2 col-2" onclick="pesquisar_perfil()"><i class="fas fa-search"></i></button>
        </div>
    </div>
    <ul class="list-group list-group-flush">
        {% with total_contatos=perfil_logado.contatos.count %}
        {% if total_contatos %}
        {% for contato in perfil_logado.contatos.all %}
            <li class="list-group-item">
                <a href="{% url 'exibir' contato.id%}">{{ contato.nome }} // {{ contato.email }}</a>
                <form method="POST" action="/contatos/{{contato.id}}/desfazer/">
                    {% csrf_token %}
                    <a href="{% url 'desfazer_amizade' contato.id %}" class="text-danger"><i class="fas fa-times text"></i></a>
                </form>

            </li>
        {% endfor %}
        {% else %}
            <li class="list-group-item">
                Você não possui nenhum contato no momento.
            </li>
        {% endif %}
        {% endwith %}
    </ul>
</nav>
{% endblock %}


{% block center %}
<!-- TIMELINE -->
<div class="card">
    <div class="card-header">
        Timeline
    </div>
    <form method="POST" class="card-body form-group" action="{% url 'nova_postagem' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <h4>Faça uma postagem você mesmo!</h4>
        <div class="add_class_form">
            {{form_post.texto}}
        </div>
        <div class="image-upload d-inline">
            <label for="id_foto" class="text-primary h2 upload-icon">
                <i class="fas fa-camera-retro pt-2 align-bottom"></i>
            </label>
                
            {{form_post.foto}}
        </div>
        <input type="submit" class="btn btn-primary btn-sm align-baseline" value="Postar">
    </form>
    <ul class="list-group list-group-flush">
        {% if postagens %}
        {% for post in postagens %}
        <li class="list-group-item">
            <div>
                <h6>Usário:{{ post.perfil }}</h6>
            </div>
            <div class="text-center">
                {{ post.texto }}
                <img src="media/{{post.foto }}" class="img-fluid d-block rounded" >
            </div>
            <div class="mt-2">
                <span class="mr-2 text-primary">
                    <form class="d-inline" method="POST" action="{% url 'gostar' post.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-outline-primary">
                            <i class="far fa-thumbs-up"></i>
                            {{ post.qnt_gostei }}
                        </button>
                    </form>
                </span>

                <span class="mr-2 text-danger">
                        <form class="d-inline" method="POST" action="{% url 'nao_gostar' post.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-outline-danger">
                            <i class="far fa-thumbs-down"></i>
                            {{ post.qnt_nao_gostei }}
                        </button>
                    </form>
                </span>
                
                <span class="mr-2 text-secondary">
                    <button typer="button" class="btn btn-outline-secondary"  data-toggle="modal" data-target="#modalComentario{{forloop.counter}}">
                        <i class="far fa-comment"></i>
                        {{ post.qnt_comentarios }}
                    </button>
                </span>
            </div>
        </li>
        {% endfor %}
        {% else %}
        <li class="list-group-item">Nenhuma postagem encontrado.</li>
        {% endif %}
    </ul>
</div>

{% endblock %}

{% block right %}
<!-- CONVITES -->
<aside class="accordion" id="convites">
    <div class="card">
        <div class="card-header" id="convites-recebidos">
            <h2 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseConvitesRecebidos" aria-expanded="true" aria-controls="collapseConvitesRecebidos">
                    Convites Recebidos 
                    {% with total_recebidos=perfil_logado.convites_recebidos.count %}
                    {% if total_recebidos %}
                        <span class="badge badge-primary">{{ total_recebidos }}</span>
                    {% endif %}
                    {% endwith %}
                </button>
            </h2>
        </div>
        <div id="collapseConvitesRecebidos" class="collapse show" aria-labelledby="convites-recebidos" data-parent="#convites">
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    {% with total_convites=perfil_logado.convites_recebidos.count %}
                    {% if total_convites == 0 %}
                        <li class="list-group-item">Nenhum convite recebido.</li>
                    {% else %}
                        {% for convite in perfil_logado.convites_recebidos.all %}
                            <li class="list-group-item">
                                {{ convite.convidador.nome }}<br>
                                <a href="{% url 'aceitar' convite.id %}"
                                   class="pull-right btn btn-success btn-sm">ACEITAR</a>
                                <a href="{% url 'rejeitar' convite.id %}"
                                   class="pull-right btn btn-danger btn-sm">REJEITAR</a>
                            </li>
                        {% endfor %}
                    {% endif %}
                    {% endwith %}
                </ul>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="convites-envidados">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseConvitesEnviados" aria-expanded="false" aria-controls="collapseConvitesEnviados">
                    Convites Enviados
                </button>
            </h2>
        </div>
        <div id="collapseConvitesEnviados" class="collapse" aria-labelledby="convites-enviados" data-parent="#convites">
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    {% with total_contatos=perfil_logado.convites_feitos.count %}
                    {% if total_contatos %}
                    {% for contato in perfil_logado.convites_feitos.all %}
                    <li class="list-group-item">
                        <a href="{% url 'exibir' contato.id%}" >{{ contato.convidado.nome }} // {{contato.convidado.email}}</a>
                    </li>
                    {% endfor %}
                    {% else %}
                        <li class="list-group-item">Nenhum convite enviado no momento.</li>
                    {% endif %}
                    {% endwith %}
                </ul>
            </div>
        </div>
    </div>
</aside>
{% endblock %}

{% block main %}
    
<!-- Modal Comentarios -->
{% for post in postagens %}
<div class="modal fade" id="modalComentario{{forloop.counter}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Comentarios</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul class="list-group list-group-flush">
                    {% for comentario in post.comentarios.all %}
                        <li class="list-group-item">
                            {{comentario.perfil.nome}}:
                            {{comentario.texto}}
                        </li>
                    {% endfor %}
                </ul>
                <form class="card-footer form-group" method="POST" action="{% url 'comentar' post.id %}">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">
                                <i class="far fa-comment"></i>
                            </span>
                        </div>
                        <input type="text" name="comentario" class="form-control" placeholder="Faça um comentário" aria-label="Comentar" aria-describedby="basic-addon1">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}
{% block script %}
    <script>
        function pesquisar_perfil(){
            let nome = document.getElementsByName('nome_pesquisar')[0].value
            if (nome !== '')
                this.document.location.href = '/perfil/pesquisar/' +  nome + '/' 
            else
                alert('Por favor, digite o nome do usuario que esta pesquisando')
        }

        let add_class = document.querySelectorAll('.add_class_form')
        for(let i = 0; i < add_class.length; i ++)
            add_class[i].children[0].classList.add('form-control')

        document.querySelectorAll('textarea')[0].style.height = '80px'
    </script>
{% endblock %}