{% extends  "base.html" %}

{% block dropdown_usuario %}
<button type="button" class="btn btn-link" data-toggle="modal" data-target="#alterarSenhaModal">
    Alterar senha
</button>
{% endblock %}

{% block left %}
<!-- CONTATOS -->
<nav class="card">
    <div class="card-header">
        Contatos
    </div>
    <ul class="list-group list-group-flush">
        {% with total_contatos=perfil_logado.contatos.count %}
        {% if total_contatos %}
        {% for contato in perfil_logado.contatos.all %}
            <li class="list-group-item">
                <a href="{% url 'exibir' contato.id%}">{{ contato.nome }} // {{ contato.email }}</a>
                <form method="POST" action="/contatos/{{contato.id}}/desfazer/">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-sm btn-danger">X</button>
                </form>

            </li>
        {% endfor %}
        {% else %}
            <li class="list-group-item">
                Você não possui nenhum contato no momento
            </li>
        {% endif %}
        {% endwith %}
    </ul>
</nav>
{% endblock %}


{% block center %}
<!-- TIMELINE -->
<div class="card">
    <div class="card-header">
        Timeline
    </div>
    <ul class="list-group list-group-flush">
        {% if postagens %}
        {% for post in postagens %}
        <li class="list-group-item">

            <!--       POST VAI AQUI         -->

        </li>
        {% endfor %}
        {% else %}
        <li class="list-group-item">Nenhuma postagem encontrado.</li>
        {% endif %}
    </ul>
</div>

{% endblock %}

{% block right %}
<!-- CONVITES -->
<aside class="accordion" id="convites">
    <div class="card">
        <div class="card-header" id="convites-recebidos">
            <h2 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseConvitesRecebidos" aria-expanded="true" aria-controls="collapseConvitesRecebidos">
                    Convites Recebidos 
                    {% with total_recebidos=perfil_logado.convites_recebidos.count %}
                    {% if total_recebidos %}
                        <span class="badge badge-primary">{{ total_recebidos }}</span>
                    {% endif %}
                    {% endwith %}
                </button>
            </h2>
        </div>
        <div id="collapseConvitesRecebidos" class="collapse show" aria-labelledby="convites-recebidos" data-parent="#convites">
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    {% with total_convites=perfil_logado.convites_recebidos.count %}
                    {% if total_convites == 0 %}
                        <li class="list-group-item">Nenhum convite recebido.</li>
                    {% else %}
                        {% for convite in perfil_logado.convites_recebidos.all %}
                            <li class="list-group-item">
                                {{ convite.convidador.nome }}<br>
                                <a href="{% url 'aceitar' convite.id %}"
                                   class="pull-right btn btn-success btn-sm">ACEITAR</a>
                                <a href="{% url 'rejeitar' convite.id %}"
                                   class="pull-right btn btn-danger btn-sm">REJEITAR</a>
                            </li>
                        {% endfor %}
                    {% endif %}
                    {% endwith %}
                </ul>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="convites-envidados">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseConvitesEnviados" aria-expanded="false" aria-controls="collapseConvitesEnviados">
                    Convites Enviados
                </button>
            </h2>
        </div>
        <div id="collapseConvitesEnviados" class="collapse" aria-labelledby="convites-enviados" data-parent="#convites">
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    {% with total_contatos=perfil_logado.convites_feitos.count %}
                    {% if total_contatos %}
                    {% for contato in perfil_logado.convites_feitos.all %}
                    <li class="list-group-item">
                        <a href="{% url 'exibir' contato.id%}" >{{ contato.convidado.nome }} // {{contato.convidado.email}}</a>
                    </li>
                    {% endfor %}
                    {% else %}
                        <li class="list-group-item">Nenhum convite enviado no momento.</li>
                    {% endif %}
                    {% endwith %}
                </ul>
            </div>
        </div>
    </div>
</aside>
{% endblock %}

{% block main %}
    <!-- Modal -->
<div class="modal fade" id="alterarSenhaModal" tabindex="-1" role="dialog" aria-labelledby="alterarSenhaModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="alterarSenhaModalLabel">Alterar senha</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form method="POST" action="{% url 'alterar_senha' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="senha_atual">Senha atual</label>
                    <input type="password" class="form-control" id="senha_atual" placeholder="digite a senha atual" name="senha_atual">
                </div>  
                
                <div class="form-group">
                    <label for="senha_nova">Senha nova</label>
                    <input type="password" class="form-control" id="senha_nova" placeholder="digite a nova senha" name="senha_nova" onkeyup="verificar_senhas()">
                </div>

                <div class="form-group">
                    <label for="confirmar_senha">Confirmar senha</label>
                    <input type="password" class="form-control" id="confirmar_senha" placeholder="digite novamente a nova senha" name="confirmar_senha" onkeyup="verificar_senhas()">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary" disabled id="salvar_senha">Salvar</button>
                </div>
            </form>

        </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    function verificar_senhas(){
        let nova = document.getElementById('senha_nova').value
        let confirmar = document.getElementById('confirmar_senha').value
        if(nova === confirmar)
            document.getElementById('salvar_senha').disabled = false;
        else
        document.getElementById('salvar_senha').disabled = true;
    }
</script>
{% endblock %}