{% extends "base.html" %}
{% block center %}
<div class="row">
    <div class="col-lg-12">
        <h2 style="margin-top:0">{{ perfil.nome }}</h2>
        <adress>
            <strong>{{ perfil.nome_empresa }}</strong><br/>
            <abbr title="Telefone">Tel:</abbr>{{ perfil.telefone }}<br/>
            <a href="mailto:{{ perfil.email }}">{{ perfil.email }}</a><br/><br/>
        </adress>
        {% if ja_eh_contato %}
            <div class="well well-sm">Vocês estão conectadins!</div>
        {% else %}
            <a href="{% url 'convidar' perfil.id %}"
            class="btn btn-success" role="button">CONVIDAR</a>
        {% endif %}
    </div>
    {% if not perfil.usuario.is_superuser %}
        <a href="{% url 'dar_super_usuario' perfil.id %}"
            class="btn btn-success" role="button">Dar super usuário</a>
    {% else %}
            <a href="{% url 'retirar_super_usuario' perfil.id %}"
                class="btn btn-danger" role="button">Retirar super usuário</a>
    {% endif %}
</div>
{% endblock %}