{% extends  "base.html" %}
{% block main %}    
    <div class="card">
        <div class="card-header">
            Reativar perfil
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <p>Olá! Estamos felizes em ter você de volta! Deseja reativar o seu perfil?</p>
            </li>
        </ul>
        <form method="POST">
            {% csrf_token %}
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-success" id="reativar_perfil">Reativar perfil</button>
        </form>
    </div>
{% endblock %}