{% extends "base.html" %}

{% block center %}
{% for perfil in perfis_bd %}
    <div class="row border-top border-bottom pt-3 pb-3">
        <div class="col-6">
            <a href="{% url 'exibir' perfil.id %}" {% if not perfil.is_active %} class="btn disabled" {% endif %}>{{perfil.nome}}</a>
        </div>
        {% if perfil in perfil_logado.perfis_convidados %}
            <div class="col-2">   
                <a href="{% url 'remover_convite' perfil.id %}"
                    class="btn btn-sm btn-success" role="button">Remover Convite</a>
            </div>
        {% elif not perfil in perfil_logado.contatos.all and perfil != perfil_logado %}
            <div class="col-2">
                <a href="{% url 'convidar' perfil.id %}" class="btn btn-success btn-sm {% if not perfil.is_active %} disabled {% endif %}">Adicionar</a>
            </div>
        {% else %}
            <!-- espaco em branco  -->
            <div class="col-2">&ThinSpace;</div> 
        {% endif %}
        {% if not perfil.usuario.is_superuser and perfil_logado.usuario.is_superuser %}
            <div class="col-4">
                <a class="btn btn-primary btn-sm {% if not perfil.is_active %} disabled {% endif %}" href="{% url 'dar_super_usuario' perfil.id %}">Dar superusuario</a>
            </div>
        {% endif %}
    </div>    
{% endfor %}
    <nav aria-label="Page navigation timelime">
        <ul class="pagination justify-content-center">
            {% if perfis_bd.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{perfis_bd.previous_page_number}}">Anterior</a></li>
            {% else %}
                <li class="page-item disabled"><a class="page-link" href="#">Anterior</a></li>
            {% endif %}
            
            
            {% for i in range_paginator %}
            <li class="page-item {% if i == current_page %} disabled {% endif %}"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
            {% endfor %}
            
            {% if perfis_bd.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{perfis_bd.next_page_number}}">Next</a>
            </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">Próxima</a>
                </li>
            {% endif %}
        </ul>
    </nav>

{% endblock %}